.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
}
.profile-details-name{
    font-size: 24px;
    font-family: "Poppins";
}
.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}
.profile-details-role h1{
    font-size: 10px;
    font-family: Verdana;
}
span.primary-text > h2 > p{
    color: (--white);
    height: max-content;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.highlighted-text{
    color: var(--dark orange);
}
.profile-role-tagline{
    font-size: 18px;
    margin: 5px 0 0 0;
    font-family: Poppins Light;
}


.profile-picture{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content:center;
    box-shadow: 0 5px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
}
.profile-picture-background{
    height: 92%;
    width: 92%;
    background-image: url(../../../assets/Home/IMG-9716.jpg);
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.colz .colz-icon i{
    padding: 8px;
    padding-left: 0px;
}
.colz .colz-icon i:hover{
    transform: scale(1.5);
}
.profile-details{
    width: 100% !important;
}

.profile-parent{
    width: 100%
}