.container.contact-container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
div.contact-options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact-option{
    background-color: rgb(161, 10, 111) ;
    /* padding: 1.2rem;
    border-radius: 1.2rem; */
    text-align: center;
    /* border: 1px solid transparent; */
    transition: var(--transition);
    color: white;
    border: 2px solid linen;
}
a{
    color: white;
    font-size: 25px;
}
.contact-option:hover{
    background-color: #823e71;
}
/* article.contact-option{
    position: absolute;
    left: auto;
    border-radius: 5px;
    padding: 70px;
} */
.contact-option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 4px;
}
.contact-option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 00.7rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: auto;
    
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid white;
    resize: none;
}
 .btn-primary{
    background-color: rgb(161, 10, 111);
    border: 2px solid white;
    padding-bottom: 15px;
  
}
.btn-primary:hover{
    background-color: #823e71;
    border: 2px solid white;
}