.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 670px;
    background-image: url('../../assets//Home/IMG-1311.jpg');
}
/* .home-container.contact-options{
    width: var(--container-width-lg);
    margin: 0 auto;
    padding: 30% ;
} */