@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Poppins Regular";
  background: var(--color-bg);
  padding: 0;

}
::-webkit-scrollbar {
  display: none;
}
.btn {
  border-radius: 45px;
  padding: 14px 0;
  width: 130px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
}
.primary-btn {
  color: var(--white);
  border: 2px solid linen;
  font-size: 12px;
  background-color: #ee1379;
}
.primary-btn:hover {
  color: aliceblue;
  border: 2px solid #fc11ec;
  background-color: #823e71;
} 
:root{
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
html{
  scroll-behavior: smooth;
}
.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}